/target
/__pycache__
/obj
/src
/UnityToBevy
/UnityToUnreal
/UnityToStride
/UnityToGodot
/UnityInBlender
/CSToPython
/UnityToPygame
/.vscode
/assets
/CSharpToPython
/py2many
/Blender_bevy_components_workflow
/wand
/blender-to-unity-fbx-exporter
/UnityGLTF
/HolyBlender.csproj
/Extensions/__pycache__
/inkscape2019