/target
/__pycache__
/obj
/src
/UnityToBevy
/UnityToUnreal
/UnityToStride
/UnityToGodot
/UnityInBlender
/BareUEProject
/BareStrideProject
/.vscode
/assets
/CSharpToPython
/py2many
/Blender_bevy_components_workflow
/wand
/Unity2Many.csproj